.team-item-wrapper {
    margin-top: 40px;
}
.edit-pencil-image {
    display: flex;
    justify-content: flex-end;
}
.pencil {
    width: 3rem;
    float: right;
    background-color: #17a2b8;
    cursor: pointer;
}
.btn {
    border-radius: unset;
}
.team-item-btn-group {
    display: flex;
    flex-direction: row;
}