.team-players-grid {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.team-players-label {
    margin-bottom: 10px;
    font-style: normal;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.badge {
    width: 100% !important;
}
.add-player-btn {
    display: flex;
    flex-direction: row;
    align-self: end;
}